<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
>
    <projectFiles>
        <file name="bin/pie"/>
        <directory name="src"/>
        <directory name="test/unit"/>
        <directory name="test/integration"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
    <stubs>
        <file name=".php.stub"/>
    </stubs>
    <issueHandlers>
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <directory name="src/Command" />
            </errorLevel>
        </PossiblyUnusedMethod>
    </issueHandlers>
</psalm>
