name: "Release"

on:
  release:
    types:
      - published

permissions:
  contents: read

jobs:
  release-phar:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system:
          - ubuntu-latest
        php-versions:
          - '8.1'
    permissions:
      # contents:write is required to upload the binaries to the release.
      contents: write
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          tools: composer, box
          php-version: "${{ matrix.php-version }}"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ramsey/composer-install@v3
      - name: Build PHAR
        run: box compile
      - name: Check the PHAR executes
        run: php pie.phar --version
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SIGNING_KEY }}
          passphrase: ${{ secrets.GPG_SIGNING_KEY_PASSPHRASE }}
      - name: Sign the PHAR
        run: |
          gpg --local-user asgrim+pie-releases@php.net \
              --batch \
              --yes \
              --passphrase="${{ secrets.GPG_SIGNING_KEY_PASSPHRASE }}" \
              --detach-sign \
              --output pie.phar.asc \
              pie.phar
      - name: Upload binaries to release
        uses: softprops/action-gh-release@v2
        if: ${{startsWith(github.ref, 'refs/tags/') }}
        with:
          files: |
            pie.phar
            pie.phar.asc
